{{!-- 輸入錯誤的短網址進入此畫面 --}}
<div class="row justify-content-center">
  <h2 class="text-center">Generate failure! try again!</h2>
  <a class="btn btn-primary col-1 mx-auto" href="/" role="button">home</a>
</div>